@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: white;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url(../elements/rangarajan-ragunathan-UhjyM5P_dz4-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.titulo {
  text-align: center;
  margin: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-block: 2rem;
}

h2 {
  font-weight: 200;
  margin: 2rem;
}

/*** HEADER ***/
header {
  justify-content: center;
  color: white;
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.9);
}

.navblack {
  background: transparent !important;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(169, 169, 169);
  font-size: 1.2rem;
  font-weight: 200;
  margin-inline: 3rem;
  transition: 0.4s;
}

.navlink:hover {
  color: white;
  border-bottom: 1px solid white;
  border: 2px;
  transition: 0.2s;
}

.active {
  color: white;
  border-bottom: 2px solid white;
}

/*** INICIO ***/
.content {
  display: flex;
  justify-content: space-around;
  padding-inline: 5rem;
  margin-block: 2rem;
}

.foto {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: auto;
}
.foto img {
  width: 50vh;
  height: auto;
  border-radius: 4rem;
  border: 0px rgba(255, 255, 255, 0) solid;
  border-radius: 2rem;
  transition: 1s;
}
.foto img:hover {
  border-radius: 4rem;
  transition: 0.2s;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  transition: 0.2s;
  border: rgba(255, 255, 255, 0) solid 1px;
  border-radius: 30%;
  transition: 1s !important;
}
.tarjeta h4 {
  padding-inline: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.tarjeta p {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 2.5rem;
}
.tarjeta:hover {
  border: rgba(255, 255, 255, 0.95) solid 1px;
  border-radius: 4rem;
  transition: 0.2s;
}

p {
  padding-inline: 2rem;
  margin-bottom: 1rem;
}

/*** MUSICA ***/
.cartitam a {
  text-decoration: none;
  display: flex;
  width: 400px;
  justify-content: center;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  padding: 5rem;
  margin-top: 5rem;
  border: 1px solid white;
  border-radius: 2rem;
  transition: 1s;
}
.cartitam a:hover {
  border-radius: 2rem;
  border: 1px solid white;
  border-radius: 4rem;
  transition: 0.2s;
}

/*** FLYERS ***/
.contentflyers {
  display: grid;
  width: 100%;
  height: auto;
  padding-inline: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.flyer {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 3rem;
}

.cart {
  display: flex;
  margin: 2%;
  width: 70%;
  justify-self: center;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 30%;
  transition: 1s !important;
}
.cart:hover {
  border-radius: 2rem;
  border: 1px solid white;
  border-radius: 3rem;
  transition: 0.2s;
  cursor: pointer;
}

/*** PROXIMAS FECHAS ***/
.fechas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex-basis: 1;
  margin: 5rem;
}
.fechas h2 {
  font-size: 2rem;
  font-weight: 200;
  border: 1px solid white;
  border-radius: 3rem;
  margin: 1rem;
  line-height: 1.7;
  padding: 1rem;
  padding-inline: 3rem;
}

/*** CONTACTO ***/
.cardcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  padding-top: 2rem;
  border-radius: 2rem;
  border: 1px white solid;
  transition: 1s;
}
.cardcontact form textarea {
  display: flex;
  height: 12vh;
  overflow: auto;
}

.infocontact {
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;
}

.instagram {
  font-size: 5rem;
  color: white;
  margin-bottom: 0rem;
}

.mail {
  font-size: 5rem;
  color: white;
}

.formulario {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form .campo {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
}
form .btn-enviar {
  display: flex;
  align-self: center;
  padding: 1rem;
  margin: 2rem;
  align-self: center;
  font-size: 2rem;
  font-weight: 200;
  background-color: transparent;
  color: white;
  border: white 1px solid;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.6s;
}
form .btn-enviar:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
}

/*** FOOTER ***/
footer {
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: auto;
  width: 100%;
  gap: 1.5rem;
}

.contact_footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_footer p {
  display: none;
}

.igfooter {
  color: white;
  font-size: 1.5rem;
  margin-inline: 1rem;
}

.scloudfooter {
  margin-inline: 1rem;
  color: white;
  font-size: 1.9rem;
}

/*** MEDIA ***/
@media (max-width: 1400px) {
  .contentflyers {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .contentflyers {
    padding-inline: 1rem;
  }
  .cart {
    width: 80%;
  }
}
@media (max-width: 1263px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cartitam {
    margin-block: 1rem;
  }
  .tarjeta {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .content {
    padding-inline: 1rem;
  }
  .cart {
    width: 90%;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }
  .cardcontact {
    margin-block: 2rem;
  }
  .infocontact {
    display: none;
  }
}
@media (max-width: 768px) {
  .contentflyers {
    grid-template-columns: 1fr;
  }
  .foto {
    width: 70%;
    padding-inline: 1rem;
  }
}
@media (max-width: 576px) {
  .foto img {
    width: 90vw;
  }
  .tarjeta {
    width: 100vw;
  }
  .cartitam a {
    width: 70vw;
    padding-inline: 1rem;
  }
  .cart {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
