/*** HEADER ***/

header {
	justify-content: center;
	color: $color_1;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
}
.navblack {
	background: transparent !important;
	padding: 1.5rem;
	margin: 0;
}
nav {
	ul {
		display: flex;
		list-style-type: none;
		justify-content: center;
	}
}

.nav-link {
	@include anclas;
	color: $color_2;
	font-size: 1.2rem;
	font-weight: 200;
	text-transform: uppercase;
	display: inline-block;
	margin-inline: 3rem;
	padding: 5px;
	transition: .4s;
	border-bottom: 1px solid transparent;

	&:hover {
		color: $color_1;
		border-bottom: 1px solid $color_4;
	}
}


.nav-item{
	min-width: 10rem;
	text-align: center;
}


.active {
	color: $color_1;
	border-bottom: 1px solid $color_4;
    transition: 0.2s;
	
}