/*** MEDIA ***/

@media (max-width: 1400px) {
	.contentflyers {
		grid-template-columns: 1fr 1fr;
	}
	.foto{
		img{
			width: 70vh;
		}
	}
}

@media (max-width: 1263px) {
	.content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cartitam {
		margin-block: 1rem;
	}
	.tarjeta {
		width: 100%;
	}

	.foto{
		img{
			width: 55vh;
		}
	}
}

@media (max-width: 1200px) {
	.contentflyers {
		padding-inline: 1rem;
	}
	.cart {
		width: 80%;
	}
}
@media (max-width: 992px) {
	.content {
		padding-inline: 1rem;
	}
	.cart {
		width: 90%;
	}
	.formulario {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: 100%;
	}
	.cardcontact {
		margin-block: 2rem;
	}
	.infocontact {
		display: none;
	}


}
@media (max-width: 768px) {
	.contentflyers {
		grid-template-columns: 1fr;
	}
	.foto {
		width: 70%;
		padding-inline: 1rem;
	}

	.btn-close{
		display: unset;
	}

	

}
@media (max-width: 576px) {
	.foto {
		img {
			width: 90vw;
		}
	}
	.tarjeta {
		width: 100vw;
	}
	.cartitam {
		a {
			width: 70vw;
			padding-inline: 1rem;
		}
	}
	.cart {
		width: 100%;
	}
	footer {
		flex-direction: column;
	}
}
